<!DOCTYPE html>
<html>
<head>
  <title>Blog of 2010720117</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background: #D9E5FF">

<%= yield %>

</body>
</html>
